---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
    
    <html data-theme="bumblebee"></html>
    <title>Marianista</title>
  </head>

  <body>
    <div class="container mx-auto">
      <div class="text-sm breadcrumbs">
        <ul>
          <li><a>Inicio</a></li>
          <li>Entrada proveedores</li>
        </ul>
      </div>

      <div class="card shadow-xl card-compact">
        <div class="card-body">
          <div class="grid grid-cols-2">
            <label class="swap swap-rotate col-end-4">
              <input type="checkbox" class="theme-controller" value="dracula" />
              <svg
                class="swap-off fill-current w-8 h-8"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                >
                </path>
              </svg>
              <svg
                class="swap-on fill-current w-7 h-7"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
                >
                </path>
              </svg>
            </label>
          </div>
          <div role="tablist" class="tabs tabs-lifted">
            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="PROVEEDORES"
              checked
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              <div class="card-body card-bordered">
                <div class="grid grid-cols-1">
                  <input
                    type="text"
                    placeholder="buscar"
                    class="input input-sm input-bordered"
                  />
                </div>

                <!-- ------------------------------------------------ -->
                <div class="overflow-x-auto">
                  <div class="card-body card-bordered">
                    <div class="grid grid-cols-4 gap-2">
                      <input
                        type="text"
                        placeholder="ID"
                        class="input input-sm input-bordered w-full"
                        value="BUE001"
                      />
                      <input
                        type="text"
                        placeholder="CC"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="text"
                        placeholder="DESCRIPCION"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="text"
                        placeholder="RUBRO"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="tel"
                        placeholder="TEL"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="text"
                        placeholder="PROVEEDOR"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="text"
                        placeholder="CONTACTO"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                      <input
                        type="email"
                        placeholder="CORREO"
                        class="input input-sm input-bordered w-full"
                        required
                      />
                    </div>
                  </div>
                  <div class="card-actions justify-end py-3 px-3">
                    <button class="btn btn-sm btn-primary">Modificar</button>
                    <button class="btn btn-sm btn-secondary">Agregar</button>
                  </div>
                </div>
                <!-- ---------------------------------------------------------- -->
              </div>
            </div>

            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="SALDOS"
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              Tab content 2
            </div>

            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="BASE GENERAL"
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              <!-- tabla dentro del modal ↓ -->
              <table class="table" id="myTable" style="width:100%;">
                <!-- head -->
                <thead class="bg-yellow-500 text-black">
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>CC</th>
                    <th>DESCRIPCION</th>
                    <th>RUBRO</th>
                    <th>TEL</th>
                    <th>PROVEEDOR</th>
                    <th>CONTACTO</th>
                    <th>CORREO</th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr class="bg-base-200">
                    <td>1</td>
                    <td>BUE001</td>
                    <td>51420003</td>
                    <td>REFRIGERIOS</td>
                    <td>MATERIALES Y SUMINISTROS</td>
                    <td>1125-037551</td>
                    <td>AQUALINE 00</td>
                    <td>PEDRO DUARTE</td>
                    <td>AQUALINE@MAIL.COM</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>BUE002</td>
                    <td>73542005</td>
                    <td>SNACKS</td>
                    <td>MATERIALES Y SUMINISTROS</td>
                    <td>1125-059873</td>
                    <td>SNACKDELIGHT 02</td>
                    <td>JUAN PEREZ</td>
                    <td>JUAN.PEREZ@MAIL.COM</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>BUE003</td>
                    <td>84653006</td>
                    <td>ALMUERZOS</td>
                    <td>MATERIALES Y SUMINISTROS</td>
                    <td>1125-070984</td>
                    <td>LUNCHBOX 03</td>
                    <td>ANA GARCIA</td>
                    <td>ANA.GARCIA@MAIL.COM</td>
                  </tr>
                </tbody>
              </table>
              <!-- tabla dentro del modal ↑ -->
            </div>
          </div>
        </div>
      </div>
    </div>



        <!-- import Jquery -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
      <!-- import Datatable -->
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

      <!-- import js desde public/js y poner is:inline para que astro no procese el contenido y lo ponga directamente en la pagina -->
      <script src="/js/dt.js" is:inline></script>
    </body>
</html>
