---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Marianista</title>
	</head>
  <html data-theme="sunset"></html>
	<body>
		<h1>Entrada de proveedores</h1>
    <button class="btn btn-primary btn-sm">Cargar</button>
    
	</body>
</html>
