---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <html data-theme="bumblebee"></html>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

    <!-- import datatable css cdn -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css"
    /> -->
    <!-- import tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Marianista</title>
  </head>

  <body>
    <div class="container mx-auto">
      <div class="card shadow-xl card-compact">
        <div class="card-body">
          <div class="grid grid-cols-2"></div>
          <div role="tablist" class="tabs tabs-lifted">
            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="BASE GENERAL"
              checked
            />
            <div
              role="tabpanel"
              class="tab-content border-base-300 rounded-box p-6"
            >
              <div class="container">
                <div class="card card-compact w-full shadow-sm card-bordered">
                  <div class="card-body">
                    <!-- /////////////////////////////////// -->

                    <div class="primerDiv flex items-center justify-between">
                      <input
                        type="text"
                        value="ID"
                        class="input input-sm input-bordered max-w-xs w-40"
                      />
                      <select
                        name=""
                        id=""
                        class="select select-bordered select-sm w-full max-w-xs"
                      >
                        <option value="1">MARTIN</option>
                        <option value="2">SEBASTIAN</option>
                        <option value="3">MARIA EMILIA</option>
                        <option value="4">GRACIELA</option>
                        <option value="5">ALEJANDRO</option>
                        <option value="5">ANTONIO</option>
                      </select>

                      <input
                        type="date"
                        value="Fecha Factura"
                        class="input input-sm input-bordered max-w-xs w-40"
                      />
                      <input
                        type="date"
                        value="Fecha Vencimiento"
                        class="input input-sm input-bordered max-w-xs w-40"
                      />
                      <input
                        type="text"
                        value="Auxiliar"
                        class="input input-sm input-bordered max-w-xs w-40"
                      />
                    </div>

                    <!-- /////////////////////////////////// -->

                    <div
                      class="segundoDIV flex items-center justify-between mt-5"
                    >
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Pto. Venta"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Nº Factura"
                      />
                      <input
                        type="number"
                        step="0.1"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Importe"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Tipo de gastos"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Proyecto"
                      />
                      <label class="cursor-pointer label w-28"
                        >Activacion
                        <input
                          type="checkbox"
                          class="checkbox checkbox-secondary"
                        />
                      </label>
                    </div>

                    <div
                      class="tercerDIV flex items-center justify-between mt-5"
                    >
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Pago"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Fecha Movimiento"
                      />
                      <input
                        type="date"
                        name=""
                        id=""
                        class="input input-sm input-bordered max-w-xs w-40"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Banco"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Cta. Banco"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Nº Cheque"
                      />
                      <input
                        type="text"
                        class="input input-sm input-bordered max-w-xs w-40"
                        placeholder="Orden de Pago"
                      />
                    </div>

                    <textarea
                      placeholder="Observaciones"
                      class="textarea textarea-bordered mt-3"></textarea>

                    <div class="divider divider-primary mt-5"></div>

                    <div class="flex justify-between">
                      <button
                        class="btn btn-primary"
                        onclick="my_modal_4.showModal()">Nuevo Proveedor</button
                      >
                      <dialog id="my_modal_4" class="modal">
                        <div class="modal-box modal-box-fixed">
                          <h3 class="font-bold text-lg">Proveedor</h3>

                          <!-- MODAL BODY START -->
                            <!-- <div class="overflow-x-auto"> -->
                          <div class="card-body card-bordered">
                            <div class="grid grid-cols-4 gap-2">
                              <input
                                type="text"
                                placeholder="ID"
                                class="input input-sm input-bordered w-full"
                                value="BUE001"
                              />
                              <input
                                type="text"
                                placeholder="CC"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="text"
                                placeholder="DESCRIPCION"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="text"
                                placeholder="RUBRO"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="tel"
                                placeholder="TEL"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="text"
                                placeholder="PROVEEDOR"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="text"
                                placeholder="CONTACTO"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                              <input
                                type="email"
                                placeholder="CORREO"
                                class="input input-sm input-bordered w-full"
                                required
                              />
                            </div>

                            <div class="card-actions justify-start py-3">
                              <button class="btn btn-sm btn-primary"
                                >Modificar</button
                              >
                              <button class="btn btn-sm btn-secondary"
                                >Agregar</button
                              >
                            </div>
                          </div>
                          <!-- </div> -->

                          <!-- tabla dentro del modal ↓ -->
                          <div class="mt-2">
                            <table
                              class="table"
                              id="myTable"
                              style="width:100%;"
                            >
                              <!-- head -->
                              <thead class="bg-yellow-500 text-black">
                                <tr>
                                  <th></th>
                                  <!-- <th class="">ID</th> -->
                                  <th class="">ID</th>
                                  <th class="">CC</th>
                                  <th class="">DESCRIPCION</th>
                                  <th class="">RUBRO</th>
                                  <th class="">TEL</th>
                                  <th class="">PROVEEDOR</th>
                                  <th class="">CONTACTO</th>
                                  <th class="">CORREO</th>
                                </tr>
                              </thead>
                              <tbody class="">
                                <tr class="bg-base-200">
                                  <td>1</td>
                                  <td>BUE001</td>
                                  <td>51420003</td>
                                  <td>REFRIGERIOS</td>
                                  <td>MATERIALES Y SUMINISTROS</td>
                                  <td>1125-037551</td>
                                  <td>AQUALINE 00</td>
                                  <td>PEDRO DUARTE</td>
                                  <td>AQUALINE@MAIL.COM</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BUE002</td>
                                  <td>73542005</td>
                                  <td>SNACKS</td>
                                  <td>MATERIALES Y SUMINISTROS</td>
                                  <td>1125-059873</td>
                                  <td>SNACKDELIGHT 02</td>
                                  <td>JUAN PEREZ</td>
                                  <td>JUAN.PEREZ@MAIL.COM</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BUE003</td>
                                  <td>84653006</td>
                                  <td>ALMUERZOS</td>
                                  <td>MATERIALES Y SUMINISTROS</td>
                                  <td>1125-070984</td>
                                  <td>LUNCHBOX 03</td>
                                  <td>ANA GARCIA</td>
                                  <td>ANA.GARCIA@MAIL.COM</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- tabla dentro del modal ↑ -->

                          <div class="modal-action">
                            <form method="dialog">
                              <button class="btn">Cancelar</button>
                            </form>
                          </div>
                          <!-- MODAL BODY ENDS -->
                        </div>
                      </dialog>
                      <button class="btn btn-accent">guardar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="SALDOS"
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              Tab content 3
            </div>
          </div>
        </div>
      </div>

      <!-- import Jquery -->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
      <!-- import Datatable -->
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

      <!-- import js desde public/js y poner is:inline para que astro no procese el contenido y lo ponga directamente en la pagina -->
      <script src="/js/dt.js" is:inline></script>
    </div>
  </body>
</html>
